img {
  padding: 10%;
  width: 15em;
  height: 75%;
}
.home-card {
  text-align: center;
  cursor: pointer;
  border-radius: 16px;
  overflow: hidden;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

/* HOVER */
.home-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

/* KLIK (active) */
.home-card:active {
  transform: translateY(2px) scale(0.98);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}
